/* .main-body{
    background-color: aliceblue;
} */
.grid * {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 15px;
    row-gap: 30px;
    padding: 20px 0;
    margin: 0 25%;
}

@media only screen and (max-width: 1200px) {
    .grid {
        margin: 0 15%;
    }
}
@media only screen and (max-width: 900px) {
    .grid {
        margin: 0 5%;
    }
}
@media only screen and (max-width: 600px) {
    .grid {
        margin: 0 1%;
    }
}