.container {
    text-align: center;
}

.button {
    display: block;
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s all;
}

.button:hover {
    background-color: #0056b3;
  }
  
  .button a {
    color: inherit;
    text-decoration: none;
  }